---
layout: default
title: Topics Index
permalink: /topics/
---

<h1>Topics</h1>

{% comment %}Combine all assignments from all _data files{% endcomment %}
{% assign all_assignments = "" | split: "" %}
{% for pair in site.data %}
  {% assign data_value = pair[1] %}
  {% if data_value.assignments %}
    {% assign all_assignments = all_assignments | concat: data_value.assignments %}
  {% endif %}
{% endfor %}

{% comment %}Precompute HTML for each topic (links to work pages){% endcomment %}
{% assign topic_html = {} %}
{% for assignment in all_assignments %}
  {% assign topic_ids = assignment.topics %}
  {% for tid in topic_ids %}
    {% assign current_html = topic_html[tid] | default: "" %}
    {% for pair in site.data %}
      {% if pair[1].works %}
        {% for work in pair[1].works %}
          {% assign link = "/works/" | append: work.id | append: "/" | relative_url %}
          {% assign current_html = current_html | append: "<li><a href='" | append: link | append: "'><em>" | append: work.title | append: "</em></a></li>" %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% assign topic_html = topic_html | merge: { tid: current_html } %}
  {% endfor %}
{% endfor %}

{% comment %}Render all topics recursively{% endcomment %}
{% assign parent_level = 2 %}
{% for topic in site.data.topics_definitions.topics %}
  <h{{ parent_level }} id="{{ topic.id }}">{{ topic.name }}</h{{ parent_level }}>
  {% if topic.description %}
    <p>{{ topic.description }}</p>
  {% endif %}

  {% assign children = topic.children | default: empty %}
  {% include topic_children.html 
     children=children 
     parent_level=3 
     topic_html=topic_html %}
{% endfor %}
