{% assign children = children | default: empty %}

{% if children.size > 0 %}
  {% assign margin = parent_level | times: 20 %}
  {% for subtopic in children %}
    <h{{ parent_level }} id="{{ subtopic.id }}" style="margin-left: {{ margin }}px;">
      {{ subtopic.name }}
    </h{{ parent_level }}>
    {% if subtopic.description %}
      <p style="margin-left: {{ margin }}px;"><em>{{ subtopic.description }}</em></p>
    {% endif %}

    {% assign links = topic_links[subtopic.id] | default: empty %}
    {% if links.size > 0 %}
      <ul style="margin-left: {{ margin }}px;">
        {% for link in links %}
          <li>
            <a href="{{ link }}"><em>{{ link | split: '/' | slice: -3,1 | first }}</em></a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% assign next_children = subtopic.children | default: empty %}
    {% assign max_depth = 6 %}
    {% if next_children.size > 0 and parent_level < max_depth %}
      {% assign next_level = parent_level | plus: 1 %}
      {% include topic_children.html 
         children=next_children 
         parent_level=next_level 
         topic_links=topic_links %}
    {% endif %}

  {% endfor %}
{% endif %}
